## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
                                                                                                                                                                                                                                                                                                                                                                            
# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
study_results_complete_df = pd.merge(study_results, mouse_metadata, how="inner", on="Mouse ID")

# Display the data table for preview
study_results_complete_df.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22

In [2]:
#Find duplicate mice by using unique in the DataFrame
duplicate_mice = study_results_complete_df.groupby(["Mouse ID"])
duplicate_mice_find = duplicate_mice["Mouse ID"].unique()
duplicate_mice_find

Mouse ID
a203    [a203]
a251    [a251]
a262    [a262]
a275    [a275]
a366    [a366]
         ...
z435    [z435]
z578    [z578]
z581    [z581]
z795    [z795]
z969    [z969]
Name: Mouse ID, Length: 249, dtype: object

In [3]:
#Find mice with duplicate Timepoints
duplicate_timepoint = study_results_complete_df.groupby(["Timepoint"])
duplicate_timepoint_find = duplicate_timepoint["Timepoint"].unique()
duplicate_timepoint_find

Timepoint
0      [0]
5      [5]
10    [10]
15    [15]
20    [20]
25    [25]
30    [30]
35    [35]
40    [40]
45    [45]
Name: Timepoint, dtype: object

In [4]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint.
duplicate_mice_timepoint = study_results_complete_df.groupby(["Mouse ID", "Timepoint"])
cleaned_df = study_results_complete_df.loc[:, ["Mouse ID", "Timepoint", "Drug Regimen", "Tumor Volume (mm3)"]]
cleaned_df

     Mouse ID  Timepoint Drug Regimen  Tumor Volume (mm3)
0        b128          0    Capomulin           45.000000
1        b128          5    Capomulin           45.651331
2        b128         10    Capomulin           43.270852
3        b128         15    Capomulin           43.784893
4        b128         20    Capomulin           42.731552
...       ...        ...          ...                 ...
1888     m601         25    Capomulin           33.118756
1889     m601         30    Capomulin           31.758275
1890     m601         35    Capomulin           30.834357
1891     m601         40    Capomulin           31.378045
1892     m601         45    Capomulin           28.430964

[1893 rows x 4 columns]

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mice_timepoint = study_results_complete_df.groupby(["Mouse ID", "Timepoint"])
duplicate_mice_timepoint.head()

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [6]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
duplicates_dropped_df = cleaned_df.drop_duplicates('Mouse ID', keep='last')
duplicates_dropped_df

     Mouse ID  Timepoint Drug Regimen  Tumor Volume (mm3)
9        b128         45    Capomulin           38.982878
10       f932          0     Ketapril           45.000000
18       g107         35     Ketapril           71.905117
21       a457         10     Ketapril           49.783419
30       c819         40     Ketapril           62.175705
...       ...        ...          ...                 ...
1857     t565         45    Capomulin           34.455298
1867     i557         45    Capomulin           47.685963
1877     m957         45    Capomulin           33.329098
1882     f966         20    Capomulin           30.485985
1892     m601         45    Capomulin           28.430964

[249 rows x 4 columns]

In [7]:
# Checking the number of mice in the clean DataFrame.
mouse_count = duplicates_dropped_df["Mouse ID"].count()
mouse_count

249

## Summary Statistics

In [8]:
#Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
#Calculate the mean of the tumor volume for each drug regimen
#Make sure you do the calculation per drug

tumor_mean = duplicates_dropped_df["Tumor Volume (mm3)"].mean()
tumor_mean

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

54.99913687738956

In [9]:
#Calculate the median of the tumor volume for each drug regimen
tumor_median = duplicates_dropped_df["Tumor Volume (mm3)"].median()
tumor_median

55.84141007

In [10]:
#Calculate the variance of the tumor volume for each drug regimen
tumor_var = duplicates_dropped_df["Tumor Volume (mm3)"].var()
tumor_var

160.15105396535876

In [11]:
#Calculate the std. deviation of the tumor volume for each drug regimen
tumor_std = duplicates_dropped_df["Tumor Volume (mm3)"].std()
tumor_std

12.655080164319733

In [12]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
# Using the aggregation method, produce the same summary statistics in a single line
tumor_summary_table = pd.DataFrame({"Tumor Volume Mean":[tumor_mean],
                                   "Tumor Volume Median":[tumor_median],
                                   "Tumor Volume Variance":[tumor_var],
                                   "Tumor Volume StDev":[tumor_mean],
                                   "Tumor Volume SEM":[tumor_mean]})
tumor_summary_table

,Tumor Volume Mean,Tumor Volume Median,Tumor Volume Variance,Tumor Volume StDev,Tumor Volume SEM
0,54.999137,55.84141,160.151054,54.999137,54.999137

## Bar and Pie Charts

In [18]:
#Generate a bar plot using both Pandas's DataFrame.plot() 
#Create dataframe to store tumor summary table and group by column Drug Regimen
group_df = pd.DataFrame.plot(tumor_summary_table.groupby(["Drug Regimen"]).count())
group_df

#Create a new dataframe to display Drug Regimen and Mouse ID
#drug_mouse_df = group_df.loc[:,["Drug Regimen","Mouse ID"]]
#drug_mouse_df = drug_mouse_df.rename(columns={"Mouse ID": "Count"})
#drug_mouse_df = drug_mouse_df.set_index("Drug Regimen")

In [ ]:
#Generate a bar plot using both Pandas's DataFrame.plot() 
drug_mouse_df.plot(x="bar", y="val", rot=8 )
plt.show()

In [ ]:
#and Matplotlib's pyplot that shows the number of total mice for each treatment regimen throughout the course of the study.

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.
bar_df = pd.DataFrame({"Drug":["Capomulin", "Ceftamin", "Infubinol", "Ketapril", "Placebo", "Propriva", "Ramicane", "Stelasyn", "Zoniferol"], "val":[0, 50, 100, 150, 200, 250, 300, 350, 400]})


#tick_locations = x_axis
#plt.xticks(tick_locations, ["Capomulin", "Ceftamin", "Infubinol", "Ketapril", "Placebo", "Propriva", "Ramicane", "Stelasyn", "Zoniferol"])

#plt.bar(x_axis, users, color='r', alpha=0.5, align="center")

In [ ]:

#unique_mice_df = pd.DataFrame(duplicates_dropped_df.groupby(["Drug Regimen"]).count()).reset_index()
#mouse_regimen = duplicates_dropped_df[["Drug Regimen","Mouse ID"]]
#mouse_regimen = mouse_regimen.rename(columns={"Mouse ID": "Count"})
# Set the index to be "Drug Regimen" so they will be used as labels
#mouse_regimen = mouse_regimen.set_index("Drug Regimen")

In [ ]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.
# Create an array that contains the number of users each language has
#mouse_regimen = mouse_regimen.plot(kind="bar", figsize=(10,3))

#plt.title("Count per Drug Regimen")
#plt.show("bar")

# Tell matplotlib that we will be making a bar chart
# Users is our y axis and x_axis is, of course, our x axis
# We apply align="center" to ensure our bars line up with our tick marks
#plt.bar(x_axis, users, color='r', alpha=0.5, align="center")

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen